body {
    font-family: Arial, sans-serif;
    background: cornflowerblue;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 5rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.register-form h1 {
    text-align: start;
    margin-bottom: 1.5rem;
}

.form-row {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    text-align: start;
}
